<!DOCTYPE html>
<html>
    <head>
        <!-- external css-->
        <link rel="stylesheet" href="../css/styles.css" />
        <!-- grid -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <!-- icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
        <!-- Scrip Carausel -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mini-header">
                <div class="col-sm-2"">
                    <img class="mini-icon" src="../icon/mobile-screen-button-solid.svg">
                    <a class="mini-header" href="https://www.tokopedia.com/mobile-apps/">Download Tokopedia App</a>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="col-sm-5 position-right">
                    <a class="mini-header" href="">Tentang Tokopedia</a>
                    <a class="mini-header" href="">Mitra Tokopedia</a>
                    <a class="mini-header" href="">Mulai Berjualan</a>
                    <a class="mini-header" href="">Promo</a>
                    <a class="mini-header" href="">Tokopedia Care</a>
                </div>
            </div>
            <div class="row medium-header">
                <img class="logo" src="../img/logo-tokped.svg">
                <a class="medium-header" href="">Kategori</a>
                <input type="text" class="search" placeholder="Cari disini">
                <img class="medium-icon" src="../icon/cart-shopping-solid.svg">
                <button class="medium-header">Masuk</button>
                <button class="medium-header-fill">Daftar</button>'

            </div>
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0px 30px 0px 30px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
        
              <div class="item active">
                <img src="../img/c1.jpg" alt="Los Angeles" style="width:100%;">
              </div>
              <div class="item">
                <img src="../img/c2.jpg" alt="Chicago" style="width:100%;">
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
          
        <div class="row content">
            <div class="col-sm-6"" style="margin: 5px;">
                <h3 style="padding-bottom: 15px;">Kategori Pilihan</h3>
                <div class="row">
                    <div class="col-sm-3 content">
                        <img src="../img/toy.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/bag.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/food.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/shoes.jpg" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-5"" style="margin: 5px;">
                <h3 style="padding-bottom: 15px;">Top Up dan Tagihan</h3>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-3 content-nav">
                        Pulsa
                    </div>
                    <div class="col-sm-3 content-nav">
                        Paket
                    </div>
                    <div class="col-sm-3 content-nav">
                        Listrik
                    </div>
                    <div class="col-sm-3 content-nav">
                        PLN
                    </div>
                </div>
                <div class="row" style="flex: 1 1 auto;">
                    <div class="col-sm-5">
                        <label for="">
                            Nomor Telpon
                        </label>
                        <input type="text" class="pulsa" placeholder="0812345678">
                    </div>
                    <div class="col-sm-5">
                        <label for="">
                            Nominal
                        </label>
                        <input type="text" class="pulsa" disabled>
                    </div>
                    <div class="col-sm-2" style="margin-top: 25px;">
                        <button class="medium-header-fill-grey">Beli</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>Tokopedia</h4>
                    <ul>
                        <li><a href="#">Tentang tokopedia</a></li>
                        <li><a href="#">Hak Kekayaan Intelektual</a></li>
                        <li><a href="#">Karir</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Bridestory</a></li>
                        <li><a href="#">Tokopedia Parents</a></li>
                        <li><a href="#">Mitra Blog</a></li>
                        <li><a href="#">TokoPoints</a></li>
                        <li><a href="#">Tokopedia Affiliate Program</a></li>
                        <li><a href="#">Tokopedia B2B Digital</a></li>
                        <li><a href="#">Mitra Tokopedia</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Beli</h4>
                    <ul>
                        <li><a href="#">Tagihan & Top Up</a></li>
                        <li><a href="#">Tukar Tambah Handphone</a></li>
                        <li><a href="#">Tokopedia COD</a></li>
                    </ul>
                    <h4>Jual</h4>
                    <ul>
                        <li><a href="#">Pusat Edukasi Seller</a></li>
                        <li><a href="#">Mitra Toppers</a></li>
                        <li><a href="#">Daftar Official Store</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Bantuan dan Panduan</h4>
                    <ul>
                        <li><a href="#">Tokopedia Care</a></li>
                        <li><a href="#">Syarat dan Ketentuan</a></li>
                        <li><a href="#">Kebijakan Privasi</a></li>
                        <li><a href="#">Mitra</a></li>
                    </ul>
                    <h4>Keamanan & Privasi</h4>
                    <div class="soc">
                        <a href="https://seal.controlcase.com/index.php?page=showCert&cId=3968489199">
                        <img src="../icon/OIP.jpg" alt="" height="40px">
                        </a>
                        <a href="https://verifeyedirectory.bsigroup.com/Profile/PT_TOK-0047786234-000">
                        <img src="../icon/OIP (1).jpg" alt="" height="40px">
                        </a>
                        <a href="https://verifeyedirectory.bsigroup.com/Profile/PT_TOK-0047786234-000">
                        <img src="../icon/OIP (1).jpg" alt="" height="40px">
                        </a>
                    </div>
                    <h4>Keamanan & Privasi</h4>
                    <div class="soc">
                        <a href="https://www.facebook.com/">
                        <img src="../img/facebook.png" alt="" height="30px">
                        </a>
                        <a href="https://twitter.com/?lang=en-id">
                        <img src="../img/twitter.png" alt="" height="30px">
                        </a>
                        <a href="https://id.pinterest.com/">
                        <img src="../img/pinterest.png" alt="" height="30px">
                        </a>
                        <a href="https://www.instagram.com/">
                        <img src="../img/instagram.png" alt="" height="30px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>